server:
  port: 8083

spring:
  application:
    name: channel
  
  data:
    mongodb:
      host: localhost
      port: 27019
      database: channel-db
  
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
